<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%- await include('@/head') %>
</head>

<body
  id="page-<%= _.pageName %>"
  class="_<%= _.route.path.replace(/\//g, '_') %>"
  <% if (_.route.resource) { %>
    data-resource="<%= _.route.resource %>"
    data-resource-id="<%= _.state._id %>"
  <% } else if (_.route.collection) { %>
    data-cms-collection="<%= _.route.collection %>"
  <% } %>
>
  <%- await include('@/layout/menu') %>

  <main role="main" id="main">
    <%- await include('@/layout/header') %>
    <div class="col-xs-12 albumFotos">
        <div class="row">

            
                    <div class="col-xs-6 col-md-3 cadaAlbum">
                        <input type="hidden" name="ctl00$paginas$rptAlbuns$ctl00$hddCDGaleria" id="paginas_rptAlbuns_hddCDGaleria_0" value="28">
                        <input type="hidden" name="ctl00$paginas$rptAlbuns$ctl00$hddSEOGaleria" id="paginas_rptAlbuns_hddSEOGaleria_0" value="museu-das-minas-e-do-metal">
                        <a id="paginas_rptAlbuns_linkAlbum_0" href="/album/museu-das-minas-e-do-metal"><img id="paginas_rptAlbuns_imgAlbumCapa_0" class="img-responsive" src="https://www.barbaravital.com.br/painel/Figuras/Imagens/263-524.webp">
                            <div class="text-center">
                                Museu das Minas e do Metal 
                            </div>
                        </a>
                    </div>
                
                    <div class="col-xs-6 col-md-3 cadaAlbum">
                        <input type="hidden" name="ctl00$paginas$rptAlbuns$ctl01$hddCDGaleria" id="paginas_rptAlbuns_hddCDGaleria_1" value="32">
                        <input type="hidden" name="ctl00$paginas$rptAlbuns$ctl01$hddSEOGaleria" id="paginas_rptAlbuns_hddSEOGaleria_1" value="o-italiano">
                        <a id="paginas_rptAlbuns_linkAlbum_1" href="/album/o-italiano"><img id="paginas_rptAlbuns_imgAlbumCapa_1" class="img-responsive" src="https://www.barbaravital.com.br/painel/Figuras/Imagens/305-524.webp">
                            <div class="text-center">
                                O Italiano
                            </div>
                        </a>
                    </div>
                
                    <div class="col-xs-6 col-md-3 cadaAlbum">
                        <input type="hidden" name="ctl00$paginas$rptAlbuns$ctl02$hddCDGaleria" id="paginas_rptAlbuns_hddCDGaleria_2" value="62">
                        <input type="hidden" name="ctl00$paginas$rptAlbuns$ctl02$hddSEOGaleria" id="paginas_rptAlbuns_hddSEOGaleria_2" value="estudio-camera-clara">
                        <a id="paginas_rptAlbuns_linkAlbum_2" href="/album/estudio-camera-clara"><img id="paginas_rptAlbuns_imgAlbumCapa_2" class="img-responsive" src="https://www.barbaravital.com.br/painel/Figuras/Imagens/527-524.webp">
                            <div class="text-center">
                                Estúdio Câmera Clara
                            </div>
                        </a>
                    </div>
                

            

        </div>
    </div>
    <%- await include('@/layout/footer') %>
  </main>

  <%- await include('@/json') %>
  <%- await include('@/scripts') %>
</body>

</html>



