<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%- await include('@/head') %>
</head>

<body
  id="page-<%= _.pageName %>"
  class="_<%= _.route.path.replace(/\//g, '_') %>"
  <% if (_.route.resource) { %>
    data-resource="<%= _.route.resource %>"
    data-resource-id="<%= _.state._id %>"
  <% } else if (_.route.collection) { %>
    data-cms-collection="<%= _.route.collection %>"
  <% } %>
>
  <%- await include('@/layout/menu') %>

  <main role="main" id="main">
    <%- await include('@/layout/header') %>
    <article id="content" class="page page--album">
      <div class="sections pb-1 pb-sm-2 pb-lg-4">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-4">
              <a href="/album/museu-das-minas-e-do-metal">
              <div class="card" style="width: 22rem;">
                <img alt="museu das minas e do metal" class="card-img-top img-responsive" src="/img/uploads/263-524.webp">
                <div class="card-body">
                  <h5>
                    
                      Museu das Minas e do Metal 
                    
                  </h5>
                </div>
              </div>
            </a>
            </div>
            <div class="col-12 col-md-4">
              <a href="/album/o-italiano">
              <div class="card" style="width: 20rem;">
                <img alt="O italiano" class="card-img-top img-responsive" src="/img/uploads/305-524.webp">
                <div class="card-body">
                  <h5>
                    
                      O italiano 
                    
                  </h5>
                </div>
              </div>
            </a>
            </div>
            <div class="col-12 col-md-4">
              <a href="/album/estudio-camera-clara">
                <div class="card" style="width: 20rem;">
                  <img alt="museu das minas e do metal" class="card-img-top img-responsive" src="/img/uploads/527-524.webp">
                  <div class="card-body">
                    <h5>
                      
                        Estúdio Câmera Clara
                      </a>
                    </h5>
                  </div>
                </div>
              </a>
            </div>
          </div>          
        </div>
        
      </div>
    </article>
    
    <%- await include('@/layout/footer') %>
  </main>

  <%- await include('@/json') %>
  <%- await include('@/scripts') %>
</body>

</html>



