<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%- await include('@/head') %>
</head>

<body
  id="page-<%= _.pageName %>"
  class="_<%= _.route.path.replace(/\//g, '_') %>"
  <% if (_.route.resource) { %>
    data-resource="<%= _.route.resource %>"
    data-resource-id="<%= _.state._id %>"
  <% } else if (_.route.collection) { %>
    data-cms-collection="<%= _.route.collection %>"
  <% } %>
>
  <%- await include('@/layout/menu') %>

  <main role="main" id="main">
    <%- await include('@/layout/header') %>
    <article id="content" class="page page--album--museu">
      <div class="sections pb-1 pb-sm-2 pb-lg-4">
        <div class="container">
          <div class="row">
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/528-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/529-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/530-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/531-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/532-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/533-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/534-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/535-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/536-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/537-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/538-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/539-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/540-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/541-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/542-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/543-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/544-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/545-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/546-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/547-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/548-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/549-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/550-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/551-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/552-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/553-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/554-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/555-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/556-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/557-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/558-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/559-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/560-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/561-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/562-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/563-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/564-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/565-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/566-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/567-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/568-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/569-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/570-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/571-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/572-524.webp"></div>
          </div>
        </div>
      </div>
    </article>

    <%- await include('@/layout/footer') %>
</main>

<%- await include('@/json') %>
<%- await include('@/scripts') %>
</body>

</html>
    
