<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%- await include('@/head') %>
</head>

<body
  id="page-<%= _.pageName %>"
  class="_<%= _.route.path.replace(/\//g, '_') %>"
  <% if (_.route.resource) { %>
    data-resource="<%= _.route.resource %>"
    data-resource-id="<%= _.state._id %>"
  <% } else if (_.route.collection) { %>
    data-cms-collection="<%= _.route.collection %>"
  <% } %>
>
  <%- await include('@/layout/menu') %>

  <main role="main" id="main">
    <%- await include('@/layout/header') %>
    <article id="content" class="page page--album--museu">
      <div class="sections pb-1 pb-sm-2 pb-lg-4">
        <div class="container">
          <div class="row">
                <div class="col-md-4 col-12">
                    <img id="paginas_rptCadaFoto_imgAlbumCapa_0" class="img-responsive" src="/img/uploads/305-524.webp">
                </div>
                <div class="col-md-4 col-12">
                    <img id="paginas_rptCadaFoto_imgAlbumCapa_1" class="img-responsive" src="/img/uploads/306-524.webp">
                </div>
                <div class="col-md-4 col-12">
                    <img id="paginas_rptCadaFoto_imgAlbumCapa_2" class="img-responsive" src="/img/uploads/307-524.webp">
                </div>
                <div class="col-md-4 col-12">
                    <img id="paginas_rptCadaFoto_imgAlbumCapa_3" class="img-responsive" src="/img/uploads/308-524.webp">
                </div>
                <div class="col-md-4 col-12">
                    <img id="paginas_rptCadaFoto_imgAlbumCapa_4" class="img-responsive" src="/img/uploads/309-524.webp">
                </div>
                <div class="col-md-4 col-12">
                    <img id="paginas_rptCadaFoto_imgAlbumCapa_5" class="img-responsive" src="/img/uploads/310-524.webp">

                </div>
                <div class="col-md-4 col-12">
                    <img id="paginas_rptCadaFoto_imgAlbumCapa_6" class="img-responsive" src="/img/uploads/311-524.webp">

                </div>
                <div class="col-md-4 col-12">
                    <img id="paginas_rptCadaFoto_imgAlbumCapa_7" class="img-responsive" src="/img/uploads/312-524.webp">

                </div>
                <div class="col-md-4 col-12">
                    <img id="paginas_rptCadaFoto_imgAlbumCapa_8" class="img-responsive" src="/img/uploads/313-524.webp">

                </div>
                <div class="col-md-4 col-12">
                    <img id="paginas_rptCadaFoto_imgAlbumCapa_9" class="img-responsive" src="/img/uploads/314-524.webp">
                </div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="/img/uploads/359-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_11" class="img-responsive" src="/img/uploads/360-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_12" class="img-responsive" src="/img/uploads/361-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/363-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/364-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/365-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/366-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/367-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/368-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/369-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/370-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/371-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/372-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/373-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/374-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/375-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/376-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/377-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/378-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/379-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/380-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/381-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/382-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/383-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/384-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/385-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/386-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/387-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/388-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/389-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/390-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/391-524.webp"></div>
                <div class="col-md-4 col-12"><img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="/img/uploads/392-524.webp"></div>      
          </div>
        </div>
      </div>
    </article>

    <%- await include('@/layout/footer') %>
</main>

<%- await include('@/json') %>
<%- await include('@/scripts') %>
</body>

</html>
    
